<div class="container">
	<div class="row my-5 mx-3 align-items-center">
		<div class="col">
			<h1 class="display-1 text-center">
				Uh Oh
			</h1>
			<p class="h2">
				We can't seem to find the page
				you're looking for.
			</p>
            <hr />
			<p class="text-center h5">
				Error Code : 404
			</p>
			<p class="text-center h5">
				<em>'<%= url %>'</em> does not
				exist
			</p>
            <hr />
            </div>
			<div class="col-4 offset-1 text-center">
				<img
					src="https://www.moores-sew.com/wp-content/uploads/2019/02/Confused.png"
					class="img-fluid"
					alt="confused woman"
				/>
			</div>
		</div>
		<div class="col mx-3">
			<p class="h4">
				Why don't you head back to
				<a href="/">home</a> or <a href="/search">browse</a> the library while we
				check the stacks?
			</p>
		</div>
	</div>
</div>
