<div class="container my-3">
    <div class="row">
        <h2 class="col display-5">BookHub</h2>
    </div>
    <div class="row">
        <p class="col-9 offset-1 fs-3"> <u> Recent Posts</u></p>
        <a class="col-2 fs-4 btn btn-outline-secondary" href="/new" role="button">Create A Post</a>
    </div>
    <div class="row mb-3">
    <% allPosts.forEach(post => { %>
        <div class="card col-12 m-2" >
            <div class="card-body">
                <p class="fs-3 card-title"><%= post.title %></p>
                <p class="text-end fs-5"><a href="/home/<%= post.title %>" class="card-link link-secondary">Read Post</a></p>
            </div>
        </div>
    <% }); %>
    </div>
</div>
