<div class="container">
    <div class="row">
        <h2 class="col display-5">BookHub</h2>
    </div>
    <div class="row">
        <p class="col-9 offset-1 fs-3"> <u> Recent Posts</u></p>
        <p class="col-2 fs-4"><a href="/new">Create A Post</a></p>
    </div>
    <div class="row">
    <% allPosts.forEach(post => { %>
        <div class="card col-12 m-2" >
            <div class="card-body">
                <p class="fs-3 card-title"><%= post.title %></p>
                <p class="text-end"><a href="/home/<%= post.title %>" class="card-link link-secondary">Read Post</a></p>
            </div>
        </div>
    <% }); %>
    </div>
</div>
