<div class="container">
    <div class="row">
        <h2 class="col display-3 my-4">BookHub</h2>
        <p><em>An app for book lovers by book lovers</em></p>
    </div>
    <div class="row">
        <div class="col">
            <!-- <p class="fs-5">Browse for Books</p>
            <p class="fs-5">Manage your Favorites</p>
            <p class="fs-5">Start a Conversation</p> -->
        </div>
        <div class="col">
            <img src="https://www.pngarts.com/files/10/Reading-Book-Transparent-Background-PNG.png" alt="img of girl reading" style="width: 75%;">
        </div>
    </div>
</div>
