<div class="container">
	<div class="row">
		<h2 class="col display-3 my-4">
			BookHub
		</h2>
		<p class="fs-5">
			<em
				>An app for book lovers by book
				lovers</em
			>
		</p>
	</div>
	<div class="row m-4">
		<div class="col text-center">
			<img
				src="https://www.pngarts.com/files/10/Reading-Book-Transparent-Background-PNG.png"
				class="img-fluid"
				alt="Image of a Girl Reading"
				style="width: 60%"
			/>
		</div>
		<div class="col">
			<h3 class="my-5">
				~ Browse for Books
			</h3>
			<h3 class="my-5">
				~ Manage Your Favorites
			</h3>
			<h3 class="my-5">
				~ Interact with Other Users
			</h3>
		</div>
		<div class="row my-5">
			<figure>
				<blockquote class="blockquote">
					<p>
						That's the thing about
						books. They let you travel
						without moving your feet.
					</p>
				</blockquote>
				<figcaption
					class="blockquote-footer"
				>
					<cite title="Source Title"
						>Jhumpa Lahiri</cite
					>
				</figcaption>
			</figure>
		</div>
	</div>
</div>
