
<h1>Here are the results of your search</h1>

<% bookData.forEach ( book => { %>

    <div class="bookReturn">
        <p><%=book.title%></p>
        <p><%=book.authors%></p>
        <a href="/books/<%=book.id%>">Read More</a>
    </div>
<% }) %>


