<div class="container my-3">
    <div class="row">
        <h2 class="col display-6 text-center mt-5 mb-2">Search for Books</h2>
    </div>
    <div class="row my-3">
        <p class="fs-3 text-center">You can search for books by title, author or category</p>
    </div>
    <div class="row">
        <div class="col">
        <form action="/books/:title" method="GET" class="text-center">
            <input type="search" name="titleSearch" id="titleSearch" class="col-4 fs-5">
            <input type="submit" class="fs-5">
            </form>
        </div>
    </div>
</div>