<h2>Search for books</h2>

<form action="/books/:title" method="GET">
<input type="search" name="titleSearch" id="titleSearch">
<input type="submit">
</form>

<!-- <input type="text" name="author" id="author">
<input type="text" name="subject" id="subject"> -->

<!-- query for google api is 'intitle:', 'inauthor:', and 'subject:' -->