<div class="container">
    <div class="row">
        <h2 class="col display-6">Search for books</h2>
    </div>
    <h3>You can search by book title, author or category</h3>

    <form action="/books/:title" method="GET">
    <input type="search" name="titleSearch" id="titleSearch">
    <input type="submit">
    </form>
</div>